
<h1>Check what type of triangle you have!</h1>

<form action="/output">
  <div class="form-group">
    <label for="length">Side One</label>
    <input id="one" name="side1" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="width">Side Two</label>
    <input id="two" name="side2" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="length">Side Three</label>
    <input id="three" name="side3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
